.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.header{
    left: 10px;
    position: absolute;
}
.dropdown{
    width: 300px;
}
.dropdown2{
    width: 300px;
}
.files{
    display: flex;
}