.top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: proxima-nova;
    margin-top: 1.5em
}
.dropdownMain{
    width: 300px;
}
.files{
    display: flex;
}
